/* chat-header.component.scss */
header {
  height: 50px;
  background: #222d5c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}

button{
  background: white;
  color: #222d5c;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
