header {
  height: 50px;
  background: #222d5c;
  color: white;
  display: flex;
  justify-content: space-between; /* left vs right */
  align-items: center;
  padding: 0 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.left p {
  margin: 0; /* removes extra spacing */
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 15px; /* space between name and button */
}

button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  
}

button:hover {
  background: white;
  color: #222d5c;
}