/* auth-form.scss */

/* Common container */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 100vh;
  background: url('../assets/login-bg.PNG') no-repeat center center;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 10%;
}

/* Common form styling */
.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;

  input {
    font-family: inherit;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #f9f3ef;
    outline: none;
    box-shadow: none;
  }

  button {
    font-family: inherit;
    font-size: 18px;
    background: #2f367c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background 0.3s ease;

    &:hover:not(:disabled) {
      background: #4048a3;
    }
  }

  h2,
  p {
    width: 300px;
    text-align: center;
  }
}

.error {
  color: black;
  font-size: 12px;
}

/* Login-only */
.login-mode-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

/* Signup-only */
.signup-header {
  color: aliceblue;
}