/* chat-layout.component.scss */
.app-body {
  display: flex;
  height:calc(100vh - 50px);
}

.chat-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  height:calc(100vh - 50px);
}

.container{
 background: url('../../../assets/chatbg.png') no-repeat center center;
  background-size: cover;
}