/* chat-window.component.scss */
.chat-window {
  display: flex;
  flex-direction: column;
  height:calc(100vh - 50px);
  overflow-y: hidden;

}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  color: white;
  justify-content: flex-end;
}

.message{
margin-bottom: 10px;
padding:10px;
border-radius: 8px;
max-width: 70%;
width: fit-content;
}

.message.user {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background:#222d5c;

}

.message.bot {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background:#EAEFEF;
  color: #1B3C53;
  justify-self: end;
}

.input-box {
  display: flex;
  padding: 2px;
  background: #3a4780;
}

.input-box input {
  flex: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 0 15px ;
  border: none;
  outline: none;
  background:white;
  color: black;
  border-radius: 10px;
  margin: 10px;
}

.input-box button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background:white;
  color: #222d5c;
  border-radius: 10px;

  cursor: pointer;

}

::-webkit-scrollbar{
  width:8px;
  background:#1B3C53;
}

::-webkit-scrollbar-thumb{
  border-radius:4px;
  background:#EAEFEF;
}