/* chat-window.component.scss */
.chat-window {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow-y: hidden;

}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  color: white;
  justify-content: flex-end;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  max-width: 70%;
  width: fit-content;
}

.message.user {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background: #222d5c;
  justify-self: end;
  border-radius: 10px 0 10px 10px; 

}

.message.bot {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background: #EAEFEF;
  color: #1B3C53;
  border-radius: 0 10px 10px 10px;
}

.input-box {
  display: flex;
  padding: 2px;
  border-top: #1B3C53 thin;
}

.input-box input {
  flex: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 0 13px;
  border: none;
  outline: none;
  background: #222d5c80;
  color: white;
  border-radius: 18px;
  margin: 10px;

   &::placeholder {
    color: #ffffff; 
    opacity: 1;  
  }
}

.input-box button {
  padding: 10px 15px;
  margin: 10px;
  margin-left: 0;
  border: none;
  background: #222d5c80;
  border-radius: 25px ;
  color: white;
  cursor: pointer;
}

.input-box button:hover {
  background: #222d5c;
}

::-webkit-scrollbar {
  width: 8px;
  background: #222d5c;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #EAEFEF;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 8px;
  border-radius: 6px;
  overflow-x: auto;
}

code {
  font-family: monospace;
}

.typing-loader {
  display: flex;
  gap: 4px;
  padding: 8px 12px;
  background: #f1f1f1;
  border-radius: 12px !important;
  width: fit-content;

  span {
    width: 6px;
    height: 6px;
    background: #555;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out;
  }

  span:nth-child(1) {
    animation-delay: 0s;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0.6);
  }

  40% {
    transform: scale(1);
  }
}

::ng-deep p {
  margin: 0 !important;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px;
  justify-content: center;
}

.reco-card {
  background:  #222d5c80;
  border-radius: 18px ;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.2s ease, transform 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
  }
}