@use 'auth-form' as *;

.login-container {
  @extend .auth-container;
}

form {
  @extend .auth-form;
}

.header {
  @extend .signup-header;
}

h2, p{
  width:300px;
  text-align: center;
}
button {
  color: white;
}