<div class="login-container">
  <h2 class="header">sign up</h2>
  <form (ngSubmit)="signup()">
    <input [(ngModel)]="user.firstName" name="firstName" placeholder="first name" required />
    <input [(ngModel)]="user.lastName" name="lastName" placeholder="last name" />
    <input [(ngModel)]="user.email" name="email" type="email" placeholder="email Id" />
    <input [(ngModel)]="user.mobile" name="mobile" type="tel" placeholder="mobile number" />
    <input [(ngModel)]="user.password" name="password" type="password" placeholder="password" required />
    <button type="submit">sign up</button>
  </form>

  <p>
    Already have an account?
    <a routerLink="/login">login here</a>
  </p>
</div>
