@use 'auth-form' as *;
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
  background: #2f357c74;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin:10px 0;
}

button:hover:not(:disabled) {
  background: #181c45; 
}
.login-container {
  @extend .auth-container;
}

form {
  @extend .auth-form;
}
p{
  width:300px;
  text-align: center;
}