.login-container {
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content: center;
  height: 100vh;
  background: url('../../../assets/login-bg.PNG') no-repeat center center;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 10%;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #f9f3ef;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:18px;
  background: #2f367c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin:10px 0;
}

button:hover:not(:disabled) {
  background: #4048a3; 
}

h2, p{
  width:300px;
  text-align: center;
}
 

.error {
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.login-mode-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}
