/* Sidebar */
.sidebar {
  width: 250px;
  background: #222d5c80;
  color: white;
  height: -webkit-fill-available;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  transition: width 0.3s;
  overflow-x: hidden;
  padding: 10px;
}

.sidebar.collapsed {
  width: 35px;
}

/* Toggle Button */
button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}

/* New Conversation Button */
.new-convo-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.253);
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.new-convo-btn:hover {
  background: #222d5c;
  color:white;
  border:none;
}

/* Conversation List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Conversation Card */
li {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

/* Conversation text */
.convo-header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.convo-message {
  font-size: 13px;
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
  background: #222d5c;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #EAEFEF;
}