/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin:0;
    overflow: hidden;
}

a {
  text-decoration: none;
  color: #195381;
  transition: 0.2s;
}

a:hover {
  color: #00adb3;
}

#toast-container > div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
}